<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./SocketsServer/Tests/bootstrap.php"
         colors="true"
         processIsolation="false"
>
    <testsuites>
        <testsuite name="Sockets Server tests">
            <directory>./SocketsServer/Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./SocketsServer</directory>
            <exclude>
                <directory suffix=".php">./SocketsServer/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="ENV" value="test" />
    </php>
</phpunit>
